.sidebar {
  background: #fff;
  border-right: 1px solid #eee;
  min-height: 100vh;
  width: 220px;
}

.nav-link {
  color: rgba(145, 145, 156, 1);
  font-weight: 500;
  transition: background 0.2s, color 0.2s;
  border-radius: 40px; /* arrondi léger */
}


.sidebar .nav-link.active {
  background-color: rgba(0, 113, 128, 0.1); /* ton fond bleu clair */
  color: #006b75;                           /* couleur du texte/icon */
  font-weight: 600;
  border-radius: 9999px;                    /* arrondi max (pill / pastille) */
  padding: 0.5rem 1rem;                     /* espace autour du texte */
}

.nav-link.active,
.nav-link:hover {
  background: rgba(238, 244, 246, 1);
  color: rgba(42, 122, 147, 1);
  font-weight: bold;
}

/* Animation icons */
.icon-wrap {
  position: relative;
  width: 22px;
  height: 22px;
  display: inline-block;
}

.icon-wrap .bi {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(.9);
  transition: opacity .2s ease, transform .2s ease;
}

.icon-wrap .bi.visible {
  opacity: 1;
  transform: scale(1);
}
